@model Aur.ViewModels.CreatePartModel

@{
    ViewData["Title"] = "Создать главу";
}


<h3>Создать главу  </h3>

<hr />
<div class="row">
    <div class="col-md-10">

        <div class="row">
            <div class="col-md-6">

                <form asp-action="AddFiles" asp-controller="Parts" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="UploadImages" class="control-label"></label>:
                        <input type="file" class="add_files" asp-for="UploadImages" class="form-control" multiple />

                        <input type="hidden" asp-for="mangaid" value="@Model.mangaid" />

                    </div>

                    <input type="hidden" name="file_action" value="Create" />

                    <input type="submit" value="Загрузить" class="btn btn-primary" />
                </form>


            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-6">

                <h4>
                    Загруженные картинки :
                </h4>
                @if (Model.Images != null)
                {
                    @foreach (var v in Model.Images)
                    {
                        @if (v != null)
                        {
                            <img style='width:100px; height:80px;' src="data:image/jpeg;base64,@(Convert.ToBase64String(v))" />
                        }
                    }
                }
                else
                {
                    <p> Пока не загрузили ниодной картинки </p>
                }
            </div>

        </div>
        <br />
        <div class="row">
            <div class="col-md-6">

                @functions
                {
                    public string F(List<byte[]> bytes)
                    {
                        List<string> res = new List<string>();
                        foreach (var v in bytes)
                        {
                            res.Add(String.Join(" ", v));
                        }
                        return String.Join("|", res);
                    }
                }

                @if (Model.Images != null)
                {

                    <form asp-action="Create" asp-controller="Parts" method="post" enctype="multipart/form-data">

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group">

                            <label asp-for="Title" class="control-label"></label>
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>

                            <input type="hidden" asp-for="Title" value="@Model.Title" />
                            <input type="hidden" asp-for="mangaid" value="@Model.mangaid" />

                            <input type="hidden" name="Imgs" value="@F(Model.Images)" />

                        </div>
                        <p>
                            Страниц в главе :
                            @Model.Images.Count()
                        </p>
                        <div class="form-group">
                            <input type="submit" value="Создать главу" class="btn btn-primary" />
                        </div>

                    </form>
                }
            </div>
        </div>

        <div>
            <a asp-action="Index">Назад</a>
        </div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
