@model PaginatedList<Aur.Models.AppUser>
@{
    ViewData["Title"] = "Index";
}

@if (Context.User.IsInRole("Admin"))
{

    <p>
        <form asp-controller="Groups" asp-action="UserSearch">
            User Email: <input type="text" name="searchString" />

            <input type="hidden" name="groupid" value="@ViewBag.groupid" />
            <input type="submit" value="Find" />
        </form>

    </p>




    <h1>Search</h1>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model[0].Email)
                </th>

                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>

                        @Html.DisplayFor(modelItem => item.Email)

                    </td>
                    <td>
                        <a asp-controller="Groups" asp-action="Promote" asp-route-userid="@item.Id" asp-route-groupid="@ViewBag.groupid" asp-route-position="Translater">Promote to worker</a> |
                        <a asp-controller="Groups" asp-action="Promote" asp-route-userid="@item.Id" asp-route-groupid="@ViewBag.groupid" asp-route-position="Manager">Promote to manager</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    

    <a asp-controller="Groups"
       asp-action="UserSearch"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       asp-route-groupid="@ViewBag.groupid"
       class="btn btn-default @prevDisabled">
        Previous
    </a>
    <a asp-controller="Groups"
       asp-action="UserSearch"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       asp-route-groupid="@ViewBag.groupid"
       class="btn btn-default @nextDisabled">
        Next
    </a>
}